

<div class="transbox">
	<div class='opacity1'></div>
	<div class='header'>
		<h2>Gracias</h2>
	</div>
	<div class='opacity2'></div>
 	<div class="body">	
 		  		<h4>
            Gracias por contratar. </br></br>
            Muy pronto uno de nuestros ingenieros te buscará por E-mail o celular para coordinar tu instalación.
            </br></br>
            Si tienes dudas escribe a:
            r27@kiwinetworks.com</br></br>
            O llama a:</br>
            5520253793 (Movistar)
          </h4>

  			<h2><%= link_to "OK", root_path, class: "btn btn-large btn-inverse btn-index" %></h2>	   
  	</div>
</div>




