                                                               
                                             
<div class="transbox">
  <div class='opacity1'></div>
  <div class='header'>
    <h2>Kiwi Residencial</h2>
  </div>
  <div class='opacity2'></div>
  <div class="body">  
      <h3>
            - Hasta 500 Mbps / 500 Mbps </br>
            - Sin cargo de instalaci&oacuten </br>
            - Sin plan forzoso </br>
            - Router inal&aacutembrico </br>
            - $580 mensuales (IVA inclu&iacutedo) </br>
          </h3>

        <h2><%= link_to "Contratar!", new_client_path, class: "btn btn-large btn-inverse btn-index" %></h2>
        <h2><a href="#myModal" role="button" class="btn btn-large btn-inverse btn-index" data-toggle="modal">FAQ</a></h2>
       
    </div>
</div>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Preguntas Frecuentes</h3>
  </div>
  <div class="modal-body">
    <h4>-¿En serio son 500 Mbps?</h4>
    <p>¡S&iacute!</p>
    <h4>-¿Cu&aacutento tarda la instalaci&oacuten?</h4>
    <p>M&aacuteximo una semana. En cuanto llenes la forma, nuestros t&eacutecnicos te buscan para coordinarse contigo.</p>
    <h4>-¿C&oacutemo es su instalación?</h4>
    <p>Te entregamos un router Wi-Fi conectado por CAT6 (Hasta 1Gbps) a nuestro switch en Reforma 27.</p>
    <h4>-¿C&oacutemo pago?</h4>
    <p>Entre el 1 y 5 de cada mes por transferencia electr&oacutenica o tarjeta de cr&eacutedito. Tu factura llega a tu correo electr&oacutenico el día siguiente de tu pago.</p>
    <h4>-¿Tienen servicio de telefon&iacutea o video?</h4>
    <p>Todav&iacutea no.</p>
    <h4>-Tengo m&aacutes preguntas</h4>
    <p>Escribe a r27@kiwinetworks.com o llama a 5520253793 (Celular)</p>
  </div>
</div>