<div class="transbox">
  <div class='opacity1'></div>
  <div class='header'>
    <h2>Editing admin</h2>
  </div>
  <div class='opacity2'></div>
  <div class="body">
    </br>

    <%= render 'form' %>

<%= link_to 'Show', @admin %> |
<%= link_to 'Back', admins_path %>

  </div>
</div>