<div class="transbox">
  <div class='opacity1'></div>
  <div class='header'>
    <h2>Editing client</h2>
  </div>
  <div class='opacity2'></div>
  <div class="body">
    </br>
      <%= render 'form2' %>

      <%= link_to 'Show', @client %> |
      <%= link_to 'Back', clients_path %>
  </div>
</div>