@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 40px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

h2 {
  text-align: center;
}

.center {
  text-align: center;
}

h3 {
  text-align: center;
}

.center {
  text-align: center;
}

   /* forms */



#error_explanation {
  width: 400px;
  
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

flashalert{
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

   /* header */

#logo {
  float: left;

  margin-right: 10px;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 14px;
  font-weight: bold;
  line-height: 1;
}

#title{
  float: center;
  font-size: 2em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 8px;
  font-weight: bold;
}

ul{
  li {
  float: right;
  margin-right: -15px;
  font-size: 1.4em;
  letter-spacing: -1px;
  padding-top: 2px;
  line-height: 1;
  }
}